<h2>Useful Links:</h2>
<a href="http://localhost:3000/users/sign_in">Sign in</a>
<a href="/users/sign_up">Sign up</a><br>
<a href="/users/sign_out">Sign out</a><br>





This is the Index.html.erb under "app/views/home" folder.

