<% unless user_signed_in? %>
    <h1>Welcome! Log In or Sign Up Today!</h1>
    <p>Eggplant Emoji</p>

<% else %>



    <div class="asset_list">
      <%= render :partial => "breadcrumbs" %>

      <% @folders.each do |folder| %>



          <div class="asset_details folder">

            <div class="file_name"><%= link_to folder.name, folder_path(folder) %></div>
            <div class="file_size"> - </div>
            <div class="file_last_updated"> - </div>
          </div>
      <% end %>

      <% if @current_folder %>
          <li><%= link_to "New Folder", new_sub_folder_path(@current_folder) %></li>
      <% else %>
          <li><%= link_to "New Folder", new_folder_path %></li>
      <% end %>


    </div>
<% end %>
