<%= form_for @asset, :html => {:class => 'dropzone form dz-clickable', :id => 'asset-dropzone'}  do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <input type="hidden" name="asset[file_upload]" id="asset_file_upload">

    <%= f.hidden_field :folder_id %>
  <div class="dz-default dz-message">
    Click or Drop File Here!
  </div>

<% end %>
