/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.breadcrumbs {
    margin:10px 0;
    font-weight:bold;
    font-size: 18px;
}
.breadcrumbs a {
    color:#1D96EF;
    text-decoration:none;
}


body {
    background-color: #fcfcfc;
    font-family: 'Lato', helvetica, sans-serif;
    font-size: 14px;
}




.header_wrapper {
    width: 95%;
    margin: 0 auto;
    overflow:hidden;
    padding:20px 0;
}
a:hover.logo_left{
    background-color: transparent;
}
a:hover.logo_right{
    background-color: transparent;
}
.logo_left a{
    color: #0582ca;
    float: left;
    font-size: 48px;
    font-family: 'Fjalla One', sans-serif;
    text-decoration:none;
}
.logo_right a{
    color: #ed6a5a;
    float: left;
    font-size: 48px;
    font-family: 'Fjalla One', sans-serif;
    text-decoration:none;
}

#login_user_status {
    float:right;

}

a img {
    border: none;
}

a {
    color: #0000FF;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 90%;
    background-color: #FCFCFC;
    padding-left: 40px;
    padding-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: transparent;
    color: #3dcc4a;
    text-shadow: #FCFCFC;
}

#flash_error, #flash_alert {
    background-color: transparent;
    color: #C66;
    text-shadow: #fcfcfc;
}

.fieldWithErrors {
    display: inline;
}

.error_messages {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
}

.error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

.error_messages p {
    margin: 8px 10px;
}

.error_messages ul {
    margin: 0;
}



.folder.asset_details:hover, .shared_folder.asset_details:hover, .file.asset_details:hover  {
    border:1px solid #DFDFDF;
}

.asset_list_header, .asset_list, .asset_details {
    width:100%;
    font-weight:bold;
    font-size:12px;
    overflow:hidden;

}
.file_name_header, .file_name {
    width:40%;
    float:left;
}
.file_size_header, .file_size {
    width: 5%;
    float:left;
}
.file_last_updated_header, .file_last_updated {
    width: 28%;
    float:left;
}
.asset_list {
    padding:20px 0;
}
.asset_details {
    font-weight:normal;
    height:25px;
    line-height:25px;
    border:1px solid #FFF;
    width:100%;
    color:#4F4F4F;
}

.asset_details a, .asset_details a:visited {
    text-decoration:none;
    color:#1D96EF;
    font-size:12px;
}

.file_icon_header, .file_icon {
    width: 2%;
    float: left;
    min-width: 2%;
}

.file_manipulate_header, .file_manipulate{
    width: 5%;
    float: left;
}

.file_manipulate a:hover{
    background-color: #cccccc;
    border:1px solid #d7d7d7;
}