/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dropzone/dropzone
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

.breadcrumbs {
    margin:10px 0;
    font-weight:bold;
    font-size: 18px;
}
.breadcrumbs a {
    color:#1D96EF;
    text-decoration:none;
}


body {
    background-color: #fcfcfc;
    font-family: 'Lato', helvetica, sans-serif;
    font-size: 14px;
}




.header_wrapper {
    width: 95%;
    margin: 0 auto;
    overflow:hidden;
    padding:20px 0;
}
a:hover.logo_left{
    background-color: transparent;
}
a:hover.logo_right{
    background-color: transparent;
}
.logo_left a{
    color: #0582ca;
    float: left;
    font-size: 48px;
    font-family: 'Fjalla One', sans-serif;
    text-decoration:none;
}
.logo_right a{
    color: #ed6a5a;
    float: left;
    font-size: 48px;
    font-family: 'Fjalla One', sans-serif;
    text-decoration:none;
}

#login_user_status {
    float:right;

}

a img {
    border: none;
}

a {
    color: #0000FF;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 90%;
    background-color: #FCFCFC;
    padding-left: 40px;
    min-height: 200px;
}

#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: transparent;
    color: #3dcc4a;
    text-shadow: #FCFCFC;
}

#flash_error, #flash_alert {
    background-color: transparent;
    color: #C66;
    text-shadow: #fcfcfc;
}

.fieldWithErrors {
    display: inline;
}

.error_messages {
    width: 400px;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    font-size: 12px;
}

.error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    color: #CF0000;
}

.error_messages p {
    margin: 8px 10px;
}

.error_messages ul {
    margin: 0;
}



.folder.asset_details:hover, .shared_folder.asset_details:hover, .file.asset_details:hover  {
    border:1px solid #DFDFDF;
    background-color: #e7e7f5;
}

.asset_list_header, .asset_list, .asset_details {
    width:100%;
    font-weight:bold;
    font-size:18px;
    overflow:hidden;
}

.file_name_header, .file_name {
    width:30%;
    float:left;
}
.file_size_header, .file_size {
    width: 7%;
    float:left;
}
.file_last_updated_header, .file_last_updated {
    width: 28%;
    float:left;
}
.asset_list {
    padding: 0;
    min-height: 200px;
}
.asset_details {
    font-weight:normal;
    height:40px;
    line-height:40px;
    border:1px solid #FFF;
    background-color: #f8f8f8;
    width:100%;
    color:#4F4F4F;
}

.asset_details a, .asset_details a:visited {
    text-decoration:none;
    color:#1D96EF;
    font-size:18px;
}

.file_icon_header, .file_icon {
    width: 2%;
    float: left;
    min-width: 2%;
}
image.file_icon{
    vertical-align: middle;
    margin: auto auto;
}

.file_manipulate_header, .file_manipulate{
    text-decoration: none;
    min-width: 5%;
    margin: 0 5px;
    height: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
}

a:hover div.file_manipulate{
    background-color: #e3e3f1;
    border:1px solid #d7d7d7;
}

a div.file_manipulate{
    border:1px solid transparent;
}

.ui-button-text-only .ui-button-text {
    font-size: 14px ;
    padding: 3px 10px !important;
}
.share .ui-button-text-only .ui-button-text {
    padding: 0 2px !important;
    font-size:11px;
    font-weight:normal;
}
#invitation_form{
    font-size:14px;
}
#invitation_form label{
    font-weight:bold;
}
#invitation_form input.text {
    width:480px;
    height:20px;
    font-size:12px;
    color:#7F7F7F;
}
#invitation_form textarea {
    width:480px;
    height:100px;
    font-size:12px;
    color:#7F7F7F;
}
